@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand';
  background-color: #1d1d1d;
}

#charIcons {
  display: grid;
  grid-template: repeat(1, 200px) / repeat(4, 200px);
  position: absolute;
  align-items: center;
  justify-items: center;
  column-gap: 10%;
  left: 12%;
  top: 4%;
}

#charIcons h1 {
  background-color: white;
}

#charPortrait {
  display: grid;
  position: absolute;
  grid-template: repeat(1, 450px) / repeat(1, 300px);
  background-color: white;
  top: 33%;
  left: 11%;
}

