@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand';
  background-color: #1d1d1d;
}

/* Styling for Trainer Icons at the top of screen */

#charIcons {
  display: grid;
  grid-template: repeat(1, 200px) / repeat(4, 200px);
  position: absolute;
  align-items: center;
  justify-items: center;
  column-gap: 10%;
  left: 12%;
  top: 4%;
  cursor: pointer;
}

#charIcons h1 {
  background-color: white;
}

/* Styling for portraits of trainer character */

#charPortrait {
  display: grid;
  position: absolute;
  grid-template: repeat(1, 450px) / repeat(1, 300px);
  background-color: white;
  top: 33%;
  left: 11%;
}

/* Styling for Pokemon Sprites */

#pokeSprites {
  display: grid;
  position: absolute;
  grid-template: repeat(3, 119px) / repeat(1, 100px);
  /* background-color: white; */
  top: 32%;
  left: 33%;
  row-gap: 13%;
  cursor: pointer;
}

#pokeSprites h1 {
  background-color: white;
}

/* Styling for the statboxes associated with each Pokemon */

#statbox1 {
  display: grid;
  position: absolute;
  grid-template: repeat(1, 130px) / repeat(1, 600px);
  background-color: white;
  top: 33%;
  left: 41%;
}

#statbox2 {
  display: grid;
  position: absolute;
  grid-template: repeat(1, 130px) / repeat(1, 600px);
  background-color: white;
  top: 55%;
  left: 41%;
}

#statbox3 {
  display: grid;
  position: absolute;
  grid-template: repeat(1, 130px) / repeat(1, 600px);
  background-color: white;
  top: 78%;
  left: 41%;
}